@font-face {
    font-family:'quicksand' ;
    src: url("../assets/fonts/Quicksand-VariableFont_wght.ttf");
    }
@font-face {
    font-family:'supermario' ;
    src: url("../assets/fonts/SuperMario256.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header nav{
    width: 100%;
    padding: .625rem .625rem;
    background-color: #F29F05;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.25rem;
}
.div-img{
    width: 5rem;
    height: 5rem;
}
.h1-titulo{
    font-family: 'supermario';
    color: white;
    font-size: 2.1875rem;
}
.a-titulo{
    text-decoration: none;
}
.h1-titulo:hover{
    text-shadow: .3125rem .3125rem .3125rem black;
}
.nav-center li a{
    text-decoration: none;
    color: white;
}
.nav-center{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    font-family: 'quicksand';
    font-size: 1.25rem;
    font-weight: bolder;
}
.nav-center li:hover{
    text-shadow: .3125rem .3125rem .3125rem black;
}
.nav-redes{
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: .625rem;
}
.nav-redes li a img{
    width: 1.875rem;
    height: 1.875rem;
}

/* main index */
.main-index section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 1.25rem;
}
.section-div p{
    padding: .625rem .625rem;
    font-size: 2.5rem;
    font-family: 'quicksand';
}
.section-img img{
    background-size: contain;
    width: 100%;
    padding: .625rem .625rem;
}

/* main solicite su presupuesto */
main{
    width: 100%;
    display: flex;
    padding: 1.25rem 1.25rem;
}
.div-presupuesto img{
    padding: 0px .625rem;
}
.main-form form{
    font-size: 1.25rem;
    font-family: 'quicksand';
    padding: 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    background-color: #F2CB05;
    gap: 1.25rem;
}
.form-div-1 input{
    width: 100%;
}
.form-div-2 input{
    width: 100%;
}
.form-div-3 input{
    width: 100%;
}
.form-div-4 textarea{
    width: 100%;
}

/* main de quienes somos */
.main-somos{
    width: 100%;
    height: 46.875rem;
    text-align: center;
    font-size: 2.1875rem;
    font-weight: bolder;
    font-family: 'quicksand';
    background-image: url(../assets/img/medicion-laser-renovacion-bano-maestro-ajusta-nivel-herramientas-construccion-adhesivo-azulejos-equipo-pared-lineas-verdes-rayo-laser-medicion-nivel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* main de servicios */
.grid-section{
    display: grid;
    width: 100%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 3.75rem 31.25rem 3.75rem;
    grid-template-areas:
    "col1 col2 col3"
    "col4 col5 col6"
    "col4 col5 col6"
    ;
    justify-content: center;
    gap: 1.25rem;
}
.color1{
    grid-area: col1;
    font-family: 'supermario';
    font-size: 2.1875rem;
    text-align: center;
}
.color2{
    grid-area: col2;
    font-family: 'supermario';
    font-size: 2.1875rem;
    text-align: center;
}
.color3{
    grid-area: col3;
    font-family: 'supermario';
    font-size: 2.1875rem;
    text-align: center;
}
.color4{
    grid-area: col4;
    background-image: url(../assets/img/d883d4c0-ba9d-4f64-b32b-a4c261a596b7.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.color5{
    grid-area: col5;
    background-image: url(../assets/img/56241009-3f6a-4c7d-a0f5-e0b0d687e00a.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.color6{
    grid-area: col6;
    background-image: url(../assets/img/cdf524ed-724d-46e9-93b9-6b1a392c3d38.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.grid-section a{
    text-decoration: none;
    color: black;
}
.grid-section a:hover{
    color: orange;
}

/* inicio footer */
footer{
    background-color: #16232E;
    width: 100%;
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1.25rem;
}
footer div h2{
    text-decoration: none;
    font-family: 'supermario';
}
footer div{
    list-style: none;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'quicksand';
    font-weight: bolder;
    color: white;
    padding: 1.25rem 1.25rem;
}
.maps{
    width: 9.375rem;
    height: 9.375rem;
    padding: 1.25rem 1.25rem;
}


/* inicio del mediaquery */
@media (max-width:1500px){

    /* header */
    header nav{
        flex-direction: column;
    }
    .h1-titulo{
        font-size: 1.875rem;
    }
    .nav-center{
        font-size: 1.125rem;
    }
    /* main index */
    .main-index section{
        flex-direction: column;
    }

    .section-div p{
        text-align: center;
        font-size: 1.875rem;
    }

    .section-img img{
        padding: .625rem 3.125rem;
    }
    /*main servicios  */
    .grid-section{
        grid-template-rows: 1.875rem 28.125rem 1.875rem;
    }
    /* main presupuesto */
    .main-presupuesto{
        flex-direction: column;
        gap: .625rem;
    }
    .div-presupuesto{
        display: flex;
        justify-content: center;
    }
    .div-presupuesto img{
        width: 90%;
    }

    /* footer */
    footer div{
        padding: .3125rem .3125rem;
    }
}

@media (max-width:1024px){

    /* header */
    .h1-titulo{
        font-size: 1.5625rem;
    }
    .nav-center{
        font-size: 1rem;
    }
     /* main index */
    .section-div p{
        font-size: 1.5625rem;
    }
    .section-img img{
        padding: .625rem .625rem;
    }
    /*main servicios  */
    .grid-section{
        grid-template-rows: 1.25rem 25rem 1.25rem;
    }
    .color1{
        font-size: 1.5625rem;
    }
    .color2{
        font-size: 1.5625rem;
    }
    .color3{
        font-size: 1.5625rem;
    }

    /* main de quienes somos */
    .main-somos{
        height: 31.25rem;
        font-size: 1.5rem;
    }
    /* main presupuesto */
    .div-presupuesto img{
        width: 80%;
    }
    .main-form form{
        font-size: 1.125rem;
    }
    /* footer */
    footer div{
        font-size: 16px
    }
    footer div h2{
        font-size: 1.25rem;
    }
}

@media (max-width:768px){

    /* header */
    .nav-center{
        flex-direction: column ;
    }
    /* main index */
    .section-div p{
        font-size: 1.125rem;
    }
    /* main de quienes somos */
        .main-somos{
            height: 25rem;
        font-size: 1.25rem;
    }
    /* main servicios */
    .grid-section{
        grid-template-columns: 100%;
        grid-template-rows: 3.125rem 43.75rem 3.125rem 43.75rem 3.125rem 43.75rem;
        grid-template-areas:
        "col1"
        "col4"
        "col2"
        "col5"
        "col3"
        "col6"
        ;
    }
    /* main presupuesto */
    .div-presupuesto img{
        width: 90%;
        }
    .main-form form{
        font-size: 1rem;
    }
    /* footer */
    footer{
        flex-direction: column;
    }
}

@media(max-width:480px){

    /* main index */
    .section-div p{
        padding: .3125rem .3125rem;
    }
    /* main de quienes somos */
    .main-somos{
        height: 21.875rem;
        font-size: .875rem;
    }
    /* main servicios */
    .grid-section{
        grid-template-rows: 2.5rem 31.25rem 2.5rem 31.25rem 2.5rem 31.25rem;
    }
}

@media(max-width:375px){

    /* main servicios */
    .grid-section{
        grid-template-rows: 1.875rem 25rem 1.875rem 25rem 1.875rem 25rem;
    }

    /* main presupuesto */
    .div-presupuesto img{
        width: 100%;
    }
    /* footer */
    footer div{
        font-size: .875rem
    }
    footer div h2{
        font-size: 1.125rem;
    }
}

@media(max-width:320px){
    /* main index */
    .section-div p{
        font-size: 1rem;
    }
}



        /* al finla del codigo scs q se nos va a pedir
        768PX=> TABLET
        320px=>modo MOBILE

        pero vamos  a hacer mas medidas
        1024  768  480  375  320*/