@media (max-width:480px){
    header{
        h1{
            font-size: 1.375rem;
        }
    }



    footer{
        .div-datos{
            p{
                font-size: 1.25rem;
                text-align: center;
            }
            ul{
                text-align:left;
                font-size: 1rem;
                padding: .3125rem .3125rem;
            }
        }
        .footer-redes{
            ul{
                gap: 1.25rem;
                margin-right: 0rem;
            }
        }
    }
    
    
    .main-index{
        .section-1{
            .main-parrafo{
                font-size: 1rem;
            }
        }
    }


    .main-somos{
        padding: .625rem .625rem;
        font-size: 1rem;
        button{
            margin-top: 1.875rem;
            padding: .875rem 1.375rem;
        }
    }


    .grid-section{
        grid-template-rows: 4.375rem 31.25rem 4.375rem 31.25rem 4.375rem 31.25rem;
    }



.grid-section-obras-1{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: (12.5rem 12.5rem 12.5rem);
    grid-template-areas:
    "col1 col2" 
    "col3 col4" 
    "col5 col6"
    ;
    padding: 0rem;
}
.grid-section-obras-2{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: (12.5rem 12.5rem 12.5rem);
    grid-template-areas:
    "col1 col2" 
    "col3 col4" 
    "col5 col6"
    ;
    padding: 0rem;
}
.grid-section-obras-3{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: (12.5rem 12.5rem 12.5rem);
    grid-template-areas:
    "col1 col2" 
    "col3 col4" 
    "col5 col6"
    ;
    padding: 0rem;
}


    .main-presupuesto{
        .main-form{
            form{
                fieldset{
                    padding: 1.25rem 1.25rem;
                }
            }
        }
    }
}




