@media (max-width:480px){
    header{
        h1{
            font-size: 1.375rem;
        }
    }



    footer{
        .div-datos{
            p{
                font-size: 1.25rem;
                text-align: center;
            }
            ul{
                text-align:left;
                font-size: 1rem;
                padding: .3125rem .3125rem;
            }
        }
        .footer-redes{
            ul{
                gap: 1.25rem;
                margin-right: 0rem;
            }
        }
    }
    
    
    .main-index{
        .section-1{
            .main-parrafo{
                font-size: 1rem;
            }
        }
    }


    .main-somos{
        section{
            padding: .625rem .625rem;
            font-size: 1rem;
            button{
                margin-top: 1.875rem;
                padding: .875rem 1.375rem;
            }
        }
    }


    .grid-section{
        grid-template-rows: 1.875rem 31.25rem 1.875rem 31.25rem 1.875rem 31.25rem;
        a{
            margin-top: 1.25rem;
        }
    }


    .grid-section-obras{
        grid-template-columns: repeat(2,45%);
        grid-template-rows: repeat(6,15.625rem);
        grid-template-areas:
        "col1 col2"
        "col3 col4"
        "col5 col6"
        "col7 col8"
        "col9 col10" 
        "col11 col12"
        ;
        padding: .3125rem .3125rem;
        }


    .main-presupuesto{
        .main-form{
            form{
                fieldset{
                    padding: 1.25rem 1.25rem;
                }
            }
        }
    }
}




