@media (max-width:768px){

    header{
        nav{
            .div-titulo{
                img{
                    width: 5rem;
                    height: 5rem;
                }
            }
            .div-nav{
                ul{
                    flex-direction: column;
                    gap: .625rem;
                    li{
                        a{
                            font-size: 1.125rem;
                        }
                    }
                }
            }
        }
    }


    .main-somos{
        padding: 1.25rem 2.5rem 1.25rem 2.5rem;
        button{
            margin-top: 1.875rem;
            padding: .875rem 1.375rem;
        }
    }
    .section-2{
        p{
            font-size: 1.375rem;
        }
        .shadow{
            width: 15.625rem;
            height: 15.625rem;
            border-radius: 50%;
        }
        .p-2{
            font-size: 1.375rem;
        }
    }


    h5{
        font-size: 1.25rem;
    }
    .grid-section{
        grid-template-columns: 100%;
        grid-template-rows: 4.375rem 43.75rem 4.375rem 43.75rem 4.375rem 43.75rem;
        grid-template-areas:
        "col1"
        "col4"
        "col2"
        "col5"
        "col3"
        "col6"
        ;
    }


    .main-presupuesto{
        padding: 0rem 0rem;
        .div-presupuesto img{
            padding: 0px 0rem;
        }
    }


    .main-obras{
        p{
            margin-left: 1.875rem;
            margin-top: 1.875rem;
            font-size: 1.375rem;
        }
    }
    .grid-section-obras-1{
        grid-template-rows: (12.5rem 12.5rem);
        padding: 1.875rem 1.875rem;
    }
    .grid-section-obras-2{
        grid-template-rows: (12.5rem 12.5rem);
        padding: 1.875rem 1.875rem;
    }
    .grid-section-obras-3{
        grid-template-rows: (12.5rem 12.5rem);
        padding: 1.875rem 1.875rem;
    }
}