h5{
    text-align: center;
    font-family: "quicksand";
    font-size: 1.875rem;
    padding: 1.875rem;
}


.grid-section{
    display: grid;
    width: 100%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 3.75rem 31.25rem 3.75rem;
    grid-template-areas:
    "col1 col2 col3"
    "col4 col5 col6"
    ;
    justify-content: center;
    a{
        text-decoration: none;
        color: $color-text-secundario;
        &:hover{
            color: orange;
        }
    }
    .color1{
        grid-area: col1;
        font-family: 'supermario';
        text-align: center;
        color: $backround-secundario;
        h2{
            font-size: 2.1875rem;
        }
    }
    .color2{
        @extend .color1;
        grid-area: col2;
        h3{
            font-size: 2.1875rem;
        }
    }
    .color3{
        @extend .color1;
        grid-area: col3;
        h4{
            font-size: 2.1875rem;
        }
    }
    .color4{
        grid-area: col4;
        background-image: url(https://i.postimg.cc/d0HzyVdJ/piso-4.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .color5{
        @extend .color4;
        grid-area: col5;
        background-image: url(https://i.postimg.cc/hvVTs4rQ/56241009-3f6a-4c7d-a0f5-e0b0d687e00a.jpg);

    }
    .color6{
        @extend .color4;
        grid-area: col6;
        background-image: url(https://i.postimg.cc/V6xXX0jc/9f32ea5f-f464-4aee-9c20-debf3a70a10c.jpg);
    }
}