.main-obras{
    p{
        margin-left: 3.125rem;
        margin-top: 1.875rem;
        align-items: center;
        font-size: 1.875rem;
    }
}
.grid-section-obras-1{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: (25rem);
    justify-content: center;
    grid-template-areas:
    "col1 col2 col3 col4 col5 col6"
    ;
    padding: 3.125rem 3.125rem;
    .color1{
        grid-area: col1;
        background-image: url(https://i.postimg.cc/HsbDhHGt/piso-1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .color2{
        grid-area: col2;
        background-image: url(https://i.postimg.cc/fRK4MKRt/piso-2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .color3{
        grid-area: col3;
        background-image: url(https://i.postimg.cc/Ls6c51Jy/piso-3.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .color4{
        grid-area: col4;
        background-image: url(https://i.postimg.cc/d0HzyVdJ/piso-4.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .color5{
        grid-area: col5;
        background-image: url(https://i.postimg.cc/xCXByVyM/piso-5.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .color6{
        grid-area: col6;
        background-image: url(https://i.postimg.cc/QtvwfY0P/piso-6.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.grid-section-obras-2{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: (25rem);
    justify-content: center;
    grid-template-areas:
    "col1 col2 col3 col4 col5 col6"
    ;
    padding: 3.125rem 3.125rem;
    .color1{
        grid-area: col1;
        background-image: url(https://i.postimg.cc/yxwQTJYz/paredes-1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .color2{
        grid-area: col2;
        background-image: url(https://i.postimg.cc/63qMJV8X/paredes-2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .color3{
        grid-area: col3;
        background-image: url(https://i.postimg.cc/9XRjyZJK/paredes-3.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .color4{
        grid-area: col4;
        background-image: url(https://i.postimg.cc/RCkxdhYF/paredes-4.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .color5{
        grid-area: col5;
        background-image: url(https://i.postimg.cc/hhWsdHpD/paredes-5.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .color6{
        grid-area: col6;
        background-image: url(https://i.postimg.cc/NMnpgyXr/paredes-6.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.grid-section-obras-3{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: (25rem);
    justify-content: center;
    grid-template-areas:
    "col1 col2 col3 col4 col5 col6"
    ;
    padding: 3.125rem 3.125rem;
    .color1{
        grid-area: col1;
        background-image: url(https://i.postimg.cc/MGd9F3K5/mesada-01.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .color2{
        grid-area: col2;
        background-image: url(https://i.postimg.cc/RC8DmY1b/mesada-2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .color3{
        grid-area: col3;
        background-image: url(https://i.postimg.cc/TPRkQvGh/mesada-3.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .color4{
        grid-area: col4;
        background-image: url(https://i.postimg.cc/ZKdD5LVY/mesada-4.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .color5{
        grid-area: col5;
        background-image: url(https://i.postimg.cc/qvcb8MP9/mesada-5.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .color6{
        grid-area: col6;
        background-image: url(https://i.postimg.cc/K8hpkgHP/mesada-6.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}