.grid-section{
    display: grid;
    width: 100%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 3.75rem 31.25rem 3.75rem;
    grid-template-areas:
    "col1 col2 col3"
    "col4 col5 col6"
    "col4 col5 col6"
    ;
    justify-content: center;
    gap: 1.25rem;
    a{
        text-decoration: none;
        color: $color-text-secundario;
        &:hover{
            color: orange;
        }
    }
    .color1{
        grid-area: col1;
        font-family: 'supermario';
        text-align: center;
        color: $backround-secundario;
        h2{
            font-size: 2.1875rem;
        }
    }
    .color2{
        @extend .color1;
        grid-area: col2;
        h3{
            font-size: 2.1875rem;
        }
    }
    .color3{
        @extend .color1;
        grid-area: col3;
        h4{
            font-size: 2.1875rem;
        }
    }
    .color4{
        grid-area: col4;
        background-image: url(../assets/img/d883d4c0-ba9d-4f64-b32b-a4c261a596b7.jpeg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .color5{
        @extend .color4;
        grid-area: col5;
        background-image: url(../assets/img/56241009-3f6a-4c7d-a0f5-e0b0d687e00a.jpeg);

    }
    .color6{
        @extend .color4;
        grid-area: col6;
        background-image: url(../assets/img/cdf524ed-724d-46e9-93b9-6b1a392c3d38.jpeg);
    }
}