@font-face {
    font-family:'quicksand' ;
    src: url("../assets/fonts/Quicksand-VariableFont_wght.ttf");
    }
@font-face {
    font-family:'supermario' ;
    src: url("../assets/fonts/SuperMario256.ttf");
}